<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="BatchServiceUrl" value="https://batch.core.windows.net"/>
		<add key="Account" value="{your batch account name}"/>
		<add key="Key" value="{your batch account key}"/>
		<add key="StorageAccountName" value="{your storage account name"/>
		<add key="StorageAccountKey" value="{your storage account key}"/>
		<add key="StorageAccountBlobEndpoint" value="https://baug.blob.core.windows.net"/>
 
    <add key="MeetupKey" value="{your meetup api key"/>

    <add key="NumTasks" value="1"/>
		<add key="PoolSize" value="1"/> 
		<add key="PoolName" value=""/> <!--Leave it as empty string if you want the program to create and cleanup the pool-->
		<add key="UploadResources" value="true"/> <!--Specifies whether to upload dependent dll/exe to blob-->
		<add key="ResourceContainerPrefix" value=""/> <!--Specifies the blob container's SAS Url containing dependent dll/exe  -->
		<add key="DeleteWorkitem" value="true"/> <!--Delete the workitem after the end of program-->
		<add key="DeleteContainer" value="false"/> <!--Delete the container storing blobs for the sample-->
		<add key="NumTopWords" value="10"/> <!--Number of top N words for each blob-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
</configuration>
